.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url(./assets/Logo.png);
  background-size: cover;
}

.currency-converter {
  height: 50px;
}

h1 {
  word-spacing: 15px;
}

.loader {
  width: 40px;
  height: 40px;
  background: url(./assets/Loader.gif) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.container-error {
  height: 20px;
  text-align: left;
  color: red;
}

.error-message {
  margin: 0 10px;
}

.calculate-result {
  font-size: 2em;
  font-weight: 600;
}

.empty-loader {
  width: 40px;
  height: 40px;
}

